@-moz-document domain("linguee.com") {
  .l_deepl_ad__content_container {
    display: none;
  }
  #mainlayout {
    padding: 0 1em !important;
  }
  #outer_div {
    min-width: unset !important;
    max-width: 60em !important;
  }
}
